<h1>New post you fucker!</h1>

<div style="margin-left: 300px;">
    <form action='/posts' method="POST">
    
        <div>
            <label for="title" name="title">title</label>
            <input type ="text" name="post[title]">
        </div>
        <div>
            <label for="price" name="price">price</label>
            <input type ="text" name="post[price]">
        </div>
        <div>
            <label for="description" name="description">description</label>
            <input type ="text" name="post[description]">
        </div>
        <div>
            <label for="images" name="images">images</label>
            <input type ="text" name="post[images]">
        </div>
        <div>
            <label for="location" name="location">location</label>
            <input type ="text" name="post[location]">
        </div>
        <div>
            <label for="lat" name="lat">Lat</label>
            <input type ="text" name="post[lat]">
        </div>
        <div>
            <label for="lng" name="lng">Lng</label>
            <input type ="text" name="post[lng]">
        </div>
            <input type ="submit" value="Submit">
    
    </form>
</div>